/*Margenes o espacio  */
body {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 1.5em;
     margin: 0;
     color: white;
     background-image: url(../public/imgs/48190.jpg);
     background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     margin: 30px;
     text-align: center;
}

/* ------------------*/

/*Barra de nav*/
nav {
     background-color: rgba(56, 55, 55, 0.151);
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     padding: 30px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     gap: 50px;
     position: sticky;
     top: 0;
     z-index: 100;
}

nav a {
     transition-duration: 0.5s;
}

nav a:hover {

     transition-property: all;
     transition-timing-function: ease-in-out;
     outline: 5px solid;
     border-radius: 30%;


}



/*Fondo  */
.fondo-estatico {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     color: white;
}

.fondo-estatico p {
     margin-left: 80px;
     margin-right: 80px;
}

.fondo-estatico h1,
/* Esta vaina indica que sdentro del contendor con la classde se aplique eso  */
.fondo-estatico h2,
.fondo-estatico h3,
.fondo-estatico h4,
.fondo-estatico h5,
.fondo-estatico h6 {
     margin-top: 0;
}

.bloque {
     border: 2px solid black;
     border-radius: 20px;
     background-color: #ffff;
     color: black;
     box-shadow: 20px 20px 20px black;
     margin: 0 auto;
     max-width: 1300px;
     max-height: 850px;
}

/*-------- */




/* Tarjetas */
.ordenar {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: space-between;
     align-items: center;
     gap: 20px;
     padding: 20px;
     height: 100%;
     min-height: 1200px;
}

.tarjeta {
     background-color: rgba(255, 255, 255, 0.151);
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     /*Esta vaina hace tranaparentes  */
     border: 2px solid black;
     border-radius: 0px 25px 25px 25px;
     height: 500px;
     width: 300px;
}

.tarjeta img {
     width: 100%;
     height: 200px;
     border-radius: 0px 25px 0px 0px;
}

/*................ */


/*   Galeria */

.galeria-fotos {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 30px;
     margin: 50px;
     grid-template-rows: repeat(4, 1fr);
     justify-items: center;
     border: 2px solid black;
}

.galeria-fotos img {
     width: 100%;
     height: 200px;
     border-radius: 20px;
}

/* Selecciona la primera imagen dentro de .galeria-fotos */
.galeria-fotos img:first-child {
     grid-column: span 2;
     width: 100%;
     grid-row: span 2;
     height: 100%;
}

/* Selecciona la tercera imagen dentro de .galeria-fotos */
.galeria-fotos img:nth-child(4) {
     grid-row: span 2;
     height: 100%;
}

.galeria-fotos img:nth-child(5) {
     grid-row: span 2;
     height: 100%;
}

.galeria-fotos img:last-child {
     grid-row: span 2;
     height: 100%;
}

.galeria-fotos img:nth-child(7),
.galeria-fotos img:nth-child(6) {
     height: 100%;
     grid-row: span 3;
}



.galeria-fotos img:nth-child(9) {
     width: 100%;
     height: 100%;
     grid-row: 4;
     grid-column: 3;

}



/**/

/*Carrusel*/
.contenedor-carrusel {
     border: 2px solid black;
     width: 80%;
     height: 100%;
     margin: auto;
     padding: 0;
}

.carrusel {
     width: 100%;
     height: 500px;
}

.url {
     color: white;
     text-decoration: none;
}



/* Footer*/
footer {
     background-color: rgba(56, 55, 55, 0.151);
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     text-align: center;
     padding: 10px;

     position: relative;

     bottom: 0;
}

footer div ul {
     list-style: none;
}


/*Formulario  */
.formulario {
     margin: 0 auto;
     width: 500px;
     height: 500px;
     background-color: rgba(56, 55, 55, 0.151);
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     border: 3px solid black;
     border-radius: 20px;
     box-shadow: 10px 10px 10px 0 black;
     display: flex;
     flex-flow: wrap column;
     gap: 10px;
}

.formulario * {
     margin: 5px;
}

.formulario textarea {
     max-height: 250px;
     resize: vertical;

}

/* Mdia queries */
@media (max-width: 710px) {
     body {
          font-size: 1em;
     }

     .bloque {
          width: 300px;
          height: 550px;
          overflow: scroll;
     }

     .bloque p {
          margin-left: 10px;
          margin-right: 10px;
     }

     .galeria-fotos{
          display: flex;
          flex-direction: column;
     }


.formulario {
     margin: 0 auto;
     width: 350px;
     height: 500px;
     background-color: rgba(56, 55, 55, 0.151);
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     border: 3px solid black;
     border-radius: 20px;
     box-shadow: 10px 10px 10px 0 black;
     display: flex;
     flex-flow: wrap column;
     gap: 10px;
}
}